<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   android:versionName="2011.10.24"
   android:versionCode="5" package="org.yalab.bourbon"
   android:installLocation="auto">
    <uses-sdk android:minSdkVersion="8"></uses-sdk>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme.Green">
        <activity android:label="@string/app_name"
                  android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name=".ArticleActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.yalab.bourbon" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="org.yalab.bourbon.ICrawlService" />
            </intent-filter>
        </activity>

        <service android:name=".CrawlService">
            <intent-filter>
                <action android:name="android.intent.action.Main" />
            </intent-filter>
        </service>

        <provider android:name="ArticleProvider" android:authorities="org.yalab.bourbon"></provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>
